<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Answer</title>
</head>
<body>
    <h1>Post an answer</h1>
    <form method="post" action="/answer/post" >
        <label for="questionId"  >Question ID</label>
        <input name="questionId" placeholder="Question ID"  type="number" />
        <label for="answer"  >Answer</label>
        <input name="answer" placeholder="Answer"  type="text" />
        <button type="submit" >Submit</button>
    </form>
</body>
</html>